header {
  background-color: white;
  text-align: center;
  height: 5vh;
}
nav {
  background-color: lightblue;
  height: 5vh;
}
li {
  display: inline;
  padding: 8px;
}
aside {
  text-align: center;
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}

main {
  background-color: white;
  text-align: center;
  width: 70%;
  height: 85vh;
}
section {
  background-color: lightblue;
  border-radius: 10px;
}
article {
  text-align: center;
}
footer {
  background-color: lightblue;
  text-align: center;
  height: 5vh;
}
